In [10]:
import pandas as pd
import altair as alt
alt.data_transformers.disable_max_rows() # Disable 5_000 rows limit
pd.set_option('display.max_rows', 500) # Display 500 rows max
pd.set_option('display.max_columns', 500) # Display 500 columns max
pd.set_option('display.max_colwidth', 1000) # Expand maximum column text display

In [2]:
findings_data = pd.read_csv("https://raw.githubusercontent.com/code-423n4/code423n4.com/main/_data/findings/findings.csv") # Set path accordingly
contests_data = pd.read_csv("https://raw.githubusercontent.com/code-423n4/code423n4.com/main/_data/contests/contests.csv")
submissions_data = pd.read_csv("../github_code4rena.csv")

In [15]:
df = pd.merge(submissions_data, submissions_data["tags"].str.get_dummies(';'), how='outer', left_index=True, right_index=True)
df = df[df.contest >= 11] # Remove incorrect early contests ids
df["issue_creation"] = pd.to_datetime(df["issue_creation"])

In [4]:
findings_data[findings_data.contest == 11].sort_values("handle").reset_index(drop=True)

,contest,handle,finding,risk,score,pie,split,slice,award,awardCoin,awardUSD
0,11,0xRajeev,N-01,0,NaN,1.000,1,1.00000,0.000000,USDC,0.00
1,11,0xRajeev,H-03,3,NaN,9.000,2,4.50000,2161.685328,USDC,2161.69
2,11,0xRajeev,H-02,3,NaN,8.100,3,2.70000,1297.011197,USDC,1297.01
3,11,0xRajeev,M-07,2,NaN,3.000,1,3.00000,1441.123552,USDC,1441.12
4,11,0xRajeev,M-03,2,NaN,2.700,2,1.35000,648.505599,USDC,648.51
5,11,0xRajeev,H-01,3,NaN,10.000,1,10.00000,4803.745174,USDC,4803.75
6,11,0xRajeev,M-01,2,NaN,2.187,4,0.54675,262.644767,USDC,262.64
7,11,0xRajeev,L-04,1,NaN,1.000,1,1.00000,480.374517,USDC,480.37
8,11,0xRajeev,L-02,1,NaN,0.900,2,0.45000,216.168533,USDC,216.17
9,11,0xRajeev,L-01,1,NaN,0.810,3,0.27000,129.701120,USDC,129.70
10,11,0xRajeev,M-02,2,NaN,2.700,2,1.35000,648.505599,USDC,648.51
11,11,JMukesh,N-10,0,NaN,1.000,1,1.00000,0.000000,USDC,0.00
12,11,JMukesh,M-04,2,NaN,3.000,1,3.00000,1441.123552,USDC,1441.12
13,11,a_delamo,G-01,g,NaN,1.000,1,1.00000,0.000000,USDC,0.00
14,11,a_delamo,M-06,2,NaN,3.000,1,3.00000,1441.123552,USDC,1441.12
15,11,a_delamo,M-05,2,NaN,3.000,1,3.00000,1441.123552,USDC,1441.12
16,11,a_delamo,L-01,1,NaN,0.810,3,0.27000,129.701120,USDC,129.70
17,11,a_delamo,G-02,g,NaN,1.000,1,1.00000,0.000000,USDC,0.00
18,11,a_delamo,G-03,g,NaN,1.000,1,1.00000,0.000000,USDC,0.00
19,11,cmichel,M-12,2,NaN,3.000,1,3.00000,1441.123552,USDC,1441.12
20,11,cmichel,L-03,1,NaN,0.810,3,0.27000,129.701120,USDC,129.70
21,11,cmichel,L-01,1,NaN,0.810,3,0.27000,129.701120,USDC,129.70
22,11,cmichel,N-11,0,NaN,1.000,1,1.00000,0.000000,USDC,0.00
23,11,cmichel,N-03,0,NaN,1.000,1,1.00000,0.000000,USDC,0.00
24,11,cmichel,N-02,0,NaN,1.000,1,1.00000,0.000000,USDC,0.00
25,11,cmichel,M-08,2,NaN,3.000,1,3.00000,1441.123552,USDC,1441.12
26,11,cmichel,M-03,2,NaN,2.700,2,1.35000,648.505599,USDC,648.51
27,11,cmichel,M-09,2,NaN,2.187,4,0.54675,262.644767,USDC,262.64
28,11,cmichel,H-07,3,NaN,10.000,1,10.00000,4803.745174,USDC,4803.75
29,11,cmichel,H-06,3,NaN,9.000,2,4.50000,2161.685328,USDC,2161.69
30,11,cmichel,H-05,3,NaN,8.100,3,2.70000,1297.011197,USDC,1297.01
31,11,cmichel,H-04,3,NaN,10.000,1,10.00000,4803.745174,USDC,4803.75
32,11,cmichel,H-02,3,NaN,8.100,3,2.70000,1297.011197,USDC,1297.01
33,11,gpersoon,N-05,0,NaN,1.000,1,1.00000,0.000000,USDC,0.00
34,11,gpersoon,M-10,2,NaN,3.000,1,3.00000,1441.123552,USDC,1441.12
35,11,gpersoon,G-04,g,NaN,1.000,1,1.00000,0.000000,USDC,0.00
36,11,gpersoon,N-04,0,NaN,1.000,1,1.00000,0.000000,USDC,0.00
37,11,gpersoon,N-08,0,NaN,0.900,2,0.45000,0.000000,USDC,0.00
38,11,gpersoon,M-01,2,NaN,2.187,4,0.54675,262.644767,USDC,262.64
39,11,pauliax,N-06,0,NaN,1.000,1,1.00000,0.000000,USDC,0.00
40,11,pauliax,G-05,g,NaN,1.000,1,1.00000,0.000000,USDC,0.00
41,11,pauliax,L-03,1,NaN,0.810,3,0.27000,129.701120,USDC,129.70
42,11,pauliax,L-05,1,NaN,1.000,1,1.00000,480.374517,USDC,480.37
43,11,pauliax,L-07,1,NaN,1.000,1,1.00000,480.374517,USDC,480.37
44,11,pauliax,M-01,2,NaN,2.187,4,0.54675,262.644767,USDC,262.64
45,11,pauliax,M-09,2,NaN,2.187,4,0.54675,262.644767,USDC,262.64
46,11,pauliax,H-05,3,NaN,8.100,3,2.70000,1297.011197,USDC,1297.01
47,11,s1m0,M-02,2,NaN,2.700,2,1.35000,648.505599,USDC,648.51
48,11,s1m0,N-07,0,NaN,1.000,1,1.00000,0.000000,USDC,0.00
49,11,s1m0,M-09,2,NaN,2.187,4,0.54675,262.644767,USDC,262.64
50,11,shw,H-02,3,NaN,8.100,3,2.70000,1297.011197,USDC,1297.01
51,11,shw,M-09,2,NaN,2.187,4,0.54675,262.644767,USDC,262.64
52,11,shw,H-05,3,NaN,8.100,3,2.70000,1297.011197,USDC,1297.01
53,11,shw,H-06,3,NaN,9.000,2,4.50000,2161.685328,USDC,2161.69
54,11,shw,H-08,3,NaN,10.000,1,10.00000,4803.745174,USDC,4803.75
55,11,shw,G-06,g,NaN,1.000,1,1.00000,0.000000,USDC,0.00
56,11,shw,M-01,2,NaN,2.187,4,0.54675,262.644767,USDC,262.64
57,11,shw,L-06,1,NaN,1.000,1,1.00000,480.374517,USDC,480.37
58,11,shw,L-03,1,NaN,0.810,3,0.27000,129.701120,USDC,129.70
59,11,shw,L-02,1,NaN,0.900,2,0.45000,216.168533,USDC,216.17
60,11,shw,N-09,0,NaN,1.000,1,1.00000,0.000000,USDC,0.00
61,11,shw,N-08,0,NaN,0.900,2,0.45000,0.000000,USDC,0.00
62,11,shw,M-11,2,NaN,3.000,1,3.00000,1441.123552,USDC,1441.12
63,11,shw,H-03,3,NaN,9.000,2,4.50000,2161.685328,USDC,2161.69

In [16]:
df[(df.contest == 11) & (df["sponsor disputed"] == 0)].sort_values(["risk", "issue_creation"]).reset_index(drop=True)[["handle", "risk", "issue_creation"]]

      handle risk            issue_creation
0   gpersoon    0 2021-05-22 13:04:59+00:00
1   gpersoon    0 2021-05-22 14:19:16+00:00
2    pauliax    0 2021-05-25 16:41:15+00:00
3       s1m0    0 2021-05-26 20:52:46+00:00
4   gpersoon    1 2021-05-22 13:13:17+00:00
5   gpersoon    1 2021-05-22 13:27:41+00:00
6   gpersoon    1 2021-05-22 13:35:06+00:00
7   gpersoon    1 2021-05-22 14:13:06+00:00
8    pauliax    1 2021-05-25 16:50:28+00:00
9    pauliax    1 2021-05-25 16:55:39+00:00
10   pauliax    1 2021-05-25 16:59:43+00:00
11  0xRajeev    1 2021-05-26 11:29:17+00:00
12  0xRajeev    1 2021-05-26 11:31:06+00:00
13  0xRajeev    1 2021-05-26 11:33:22+00:00
14  0xRajeev    1 2021-05-26 11:45:22+00:00
15   cmichel    1 2021-05-26 12:35:13+00:00
16   cmichel    1 2021-05-26 12:35:38+00:00
17   cmichel    1 2021-05-26 12:36:49+00:00
18   cmichel    1 2021-05-26 12:45:30+00:00
19  a_delamo    1 2021-05-26 13:13:42+00:00
20   pauliax    1 2021-05-26 18:26:04+00:00
21   JMukesh    1 2021-05-26 18:48:03+00:00
22   pauliax    1 2021-05-26 18:51:52+00:00
23      s1m0    1 2021-05-26 20:16:26+00:00
24       shw    1 2021-05-27 01:38:56+00:00
25       shw    1 2021-05-27 01:39:18+00:00
26       shw    1 2021-05-27 01:39:38+00:00
27       shw    1 2021-05-27 01:40:30+00:00
28       shw    1 2021-05-27 01:40:49+00:00
29  gpersoon    2 2021-05-22 14:07:58+00:00
30   pauliax    2 2021-05-25 17:57:17+00:00
31  0xRajeev    2 2021-05-26 11:34:40+00:00
32  0xRajeev    2 2021-05-26 11:40:43+00:00
33  0xRajeev    2 2021-05-26 11:50:50+00:00
34  a_delamo    2 2021-05-26 12:28:03+00:00
35  a_delamo    2 2021-05-26 12:37:41+00:00
36   cmichel    2 2021-05-26 12:44:35+00:00
37   cmichel    2 2021-05-26 12:46:30+00:00
38   JMukesh    2 2021-05-26 17:32:11+00:00
39       shw    2 2021-05-27 01:40:08+00:00
40       shw    2 2021-05-27 01:42:23+00:00
41       shw    2 2021-05-27 03:22:17+00:00
42       shw    2 2021-05-27 03:23:11+00:00
43  0xRajeev    3 2021-05-26 11:47:24+00:00
44  0xRajeev    3 2021-05-26 11:52:00+00:00
45  0xRajeev    3 2021-05-26 11:53:48+00:00
46  0xRajeev    3 2021-05-26 11:55:28+00:00
47   cmichel    3 2021-05-26 12:37:26+00:00
48   cmichel    3 2021-05-26 12:38:18+00:00
49   cmichel    3 2021-05-26 12:38:55+00:00
50   cmichel    3 2021-05-26 12:39:38+00:00
51   cmichel    3 2021-05-26 12:42:48+00:00
52   cmichel    3 2021-05-26 12:43:48+00:00
53   cmichel    3 2021-05-26 12:46:00+00:00
54   cmichel    3 2021-05-26 12:47:02+00:00
55      s1m0    3 2021-05-26 20:42:18+00:00
56       shw    3 2021-05-27 01:42:43+00:00
57       shw    3 2021-05-27 01:43:03+00:00
58       shw    3 2021-05-27 01:43:22+00:00
59       shw    3 2021-05-27 07:45:19+00:00
60       shw    3 2021-05-27 07:54:08+00:00
61  0xRajeev    G 2021-05-19 22:52:53+00:00
62  gpersoon    G 2021-05-22 12:57:30+00:00
63   pauliax    G 2021-05-25 17:39:21+00:00
64  a_delamo    G 2021-05-26 13:04:28+00:00
65  a_delamo    G 2021-05-26 13:09:04+00:00
66  a_delamo    G 2021-05-26 13:20:53+00:00

In [6]:
df2 = pd.merge(df[(df.duplicate == 1)], findings_data, on="contest")
list(df2.columns)

['contest',
 'contest_sponsor',
 'date',
 'handle_x',
 'address',
 'risk_x',
 'title',
 'issueId',
 'issueUrl',
 'tags',
 'issue_creation',
 '0 (Non-critical)',
 '1 (Low Risk)',
 '2 (Med Risk)',
 '3 (High Risk)',
 'ATokenYieldSource',
 'Acknowledged',
 'BadgerYieldSource',
 'BasePool',
 'BasePoolV2',
 'Confirmed',
 'ControlledToken',
 'Converter',
 'Disputed',
 'ERC20Rewards',
 'EmergencyBrake',
 'FYTokenFactory',
 'G (Gas Optimization)',
 'Gas Report - High quality report',
 'GasThrottle',
 'GovernorAlpha',
 'IdleYieldSource',
 'Index',
 'LPToken',
 'LPWrapper',
 'LinearVesting',
 'LiquidityBasedTWAP',
 'MitigationStarted',
 'Needs input from sponsor',
 'Notional',
 'Oracles',
 'PrizePool',
 'ProtocolConstants',
 'QA (Quality Assurance)',
 'QA - High quality report',
 'Resolved',
 'StakePrizePool',
 'StakingRewards',
 'Strategy',
 'SushiYieldSource',
 'SwapQueue',
 'SwappableYieldSource',
 'Synth',
 'SynthFactory',
 'Timelock',
 'Treasury',
 'TwapOracle',
 'USDV',
 'UniswapV2ERC20',
 'UniswapV2Library',
 'UniswapV2Pair',
 'Vader',
 'VaderBond',
 'VaderMath',
 'VaderPool',
 'VaderPoolFactory',
 'VaderPoolV2',
 'VaderReserve',
 'VaderRouter',
 'VaderRouterV2',
 'Wand',
 'Will Revisit',
 'XVader',
 'YearnV2YieldSource',
 'YieldSourcePrizePool',
 'addressed',
 'bug',
 'disagree with severity',
 'disagree-with-severity',
 'documentation',
 'duplicate',
 'edited-by-warden',
 'enhancement',
 'feature?',
 'filed',
 'fix later',
 'fixed-in-upstream-repo',
 'float-wont-fix',
 'help wanted',
 'high quality QA',
 'ignore',
 'invalid',
 'judged invalid',
 'mStableYieldSource',
 'maybe',
 'needs additional sponsor input',
 'old-submission-method',
 'out-of-scope',
 'partial',
 'question',
 'resolved',
 'reviewed',
 'sponsor acknowledged',
 'sponsor confirmed',
 'sponsor dispute',
 'sponsor disputed',
 'sponsor strategy',
 'sponsor todo',
 'sponsor vault',
 'sponsor-acknowledged',
 'sponsor-confirmed',
 'sponsor-disputed',
 'style',
 'upgraded by judge',
 'valid',
 'withdrawn by warden',
 'wont fix',
 'wontfix',
 'handle_y',
 'finding',
 'risk_y',
 'score',
 'pie',
 'split',
 'slice',
 'award',
 'awardCoin',
 'awardUSD']

In [7]:
df2[["contest", "date", "awardUSD"]]

         contest     date  awardUSD
0             11  2021/05      0.00
1             11  2021/05    129.70
2             11  2021/05    216.17
3             11  2021/05    480.37
4             11  2021/05    262.64
...          ...      ...       ...
1534187      151  2022/08     21.72
1534188      151  2022/08     21.72
1534189      151  2022/08     21.72
1534190      151  2022/08     21.72
1534191      151  2022/08     21.72

[1534192 rows x 3 columns]